* {
    margin: 0;
    padding: 0;
}
body {  
    font-family: "Lato", sans-serif;
    font-size: 18px;
}
section {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Lato", sans-serif;
    font-size: 25px;
    color: #3D4451;
}
h1 {
    font-size: 50px;
}
h2 {
    font-weight: 400;
}
.enterSite {
    font-size: 20px
}
.enterSite:hover {
    font-size: 20px;
    text-shadow: 4px 4px #000000;
}
#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}
#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}
#indexPage {
    color: floralwhite;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 35%;
    text-shadow: 2px 2px #000000;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.headSmall {
    font-size: 35px;
    color: floralwhite;
}
.rule {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-color: #888888
    height: 20px;
}
